@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    margin-bottom:v.$separacion;

    a{
        color: v.$blanco;
        display: block;
        margin-bottom: calc(v.$separacion / 2);
        text-align: center;
    }
}